.availability-form {
  margin-top: 20px;
}

.availability-form h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.availability-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.availability-form select,
.availability-form input {
  margin-bottom: 10px;
}

.availability-form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}
